.skills {
    padding: 0px 0px 120px 0px;
    @media (max-width: 992px) {
        padding: 0px 0px 80px 0px;
    }
    &__container {
        padding: 0 13px;
    }

    &__header {
    }

    &__items {
        display: grid;
        grid-template: minmax(270px, auto) / repeat(4, minmax(270px, 1fr));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
        margin: 0px 0px 120px 0px;
        @media (max-width: 1200px) {
            grid-template: minmax(270px, auto) / repeat(4, 1fr);
        }
        @media (max-width: 992px) {
            grid-template: minmax(270px, auto) / repeat(3, 1fr);
        }
        @media (max-width: 768px) {
            grid-template: minmax(270px, auto) / repeat(2, 1fr);
            margin: 0px 0px 80px 0px;
        }
        @media (max-width: 576px) {
            grid-template: minmax(270px, auto) / minmax(270px, auto);
        }
    }

    &__progress {
        display: grid;
        grid-template: repeat(2, minmax(62px, auto)) / repeat(3, minmax(350px, 1fr));
        column-gap: 45px;
        row-gap: 30px;
        justify-content: center;
        @media (max-width: 1200px) {
            grid-template: repeat(2, minmax(62px, auto)) / repeat(3, 1fr);
        }
        @media (max-width: 992px) {
            grid-template: repeat(2, minmax(62px, auto)) / repeat(2, 1fr);
        }
        @media (max-width: 576px) {
            grid-template: repeat(2, minmax(62px, auto)) / minmax(300px, 450px);
        }
    }

    &__item {
        border: 1px solid #000000;
        padding: 30px;
        display: grid;
        grid-template: repeat(3, auto) / 1fr;
        row-gap: 15px;
        @media (max-width: 1200px) {
            padding: 25px 20px;
        }
    }
}

.item-skills {
    &__icon {
        & img {
            max-width: 100%;
        }
    }

    &__title {
    }

    &__descr {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 150%;
    }
}

.progress-item {
    display: grid;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 27px 0px;
    }

    &__title {
        position: relative;
        padding: 0px 0px 0px 15px;
        @include before_circle;
        &::before {
            top: -39%;
        }
    }

    &__procent {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 100%;
    }

    &__line {
        width: 100%;
        height: 14px;
        background: #e8e4de;
        border-radius: 4px;
        position: relative;
        & span {
            position: absolute;
            border-radius: 4px;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $main-color;
        }
    }
}
