//*<Standard font>===========================================================================================

$fontfamaly: "Poppins", sans-serif;

//*</Standard font>==========================================================================================

$maxWidthContainer: 1170px;
//! $maxWidth: ;

//*<Цвета>=================================================================================================

$main-color: #af6d54;

//*</Цвета>=================================================================================================
